.footer{
    width: 100vw;
    display: 'flex';
    align-items: "center";
    justify-content: "center";
    background-color: #17273f;
    color: #fff;
}
a:link{
    color: red;
}
a:visited{
    color: green;
}
@media (max-width: 768px) {
    .footer{
        width: 100%;
        padding: 0 3rem;
    }
}